@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-image: url('../Img/wallpapper.jpg');
    background-size: cover;
    position: center;
    height: 100vh;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #070506;
    color: white;
    overflow: hidden;
}

.appCelular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    min-width: 600px;
}

.baixarApp{
    width: 100%;
    height: 120px;
    cursor: pointer;
    min-width: 270px;
}

.BaixarAps{
    display: flex;
    flex-direction: column;
}

.baixarAppAple{
    cursor: pointer;
    height:87px ;
    width: 95%;
    margin-left: 8px;
}

.appCelular h2{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.37);
    font-family: 'Berkshire Swash', serif;
    color: #855638;
    font-size: 50px;
}

.appCelular p{
    margin-top: 15px;
    font-size: 22px;
    width: 75%;
}

.encontre{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #1b1719;
}

.encontre h2{
    font-family: 'Berkshire Swash', serif;
    color: #855638;
    font-size: 40px;
    margin-top: 120px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.288);
}

.texto{
    margin-right: 50px;
    text-align: center;
}

.texto span{
    color: rgb(19, 165, 19);
}

.texto img{
    width: 70%;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
}

.encontre p{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.encontre iframe{
    border-radius: 10px;
    margin-top: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #070506;
    color: rgba(255, 255, 255, 0.445);

}


























/* Aqui começa o responsivo */

@media only screen and (max-width: 884px) {

    header{
        height: 60vh;
    }

    .app{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .appCelular{
        margin-left: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
       
    }

    .encontre{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .texto img{
        width: 40%;
    }

    .frame{
        margin: 0px auto;
    }

    .frame iframe{
        width: 100;
        margin-bottom: 30px;
    }

    .encontre h2{
        margin-top: 50px;
    }
    
    .texto{
        width: 100%;
    }
}


@media only screen and (max-width: 1280px){
    .app{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .encontre{
        height: auto;
        padding-bottom: 50px;
    }

}

@media only screen and (max-width: 800px){
    header{
        height: 40vh;
    }
}




@media only screen and (max-width: 834px){
    header{
        height: 38vh;
    }
}

@media only screen and (max-width: 768px){
    header{
        height: 90vh;
        background-size: auto;
        background-position: center;
        background-size: cover;
    }

    .appCelular p{
        width: 70%;
    }

    .texto img{
        width: 70%;
    }

    .frame{
        margin-left: 0px;
        width: 100%;

    }

    .frame iframe{
        width: 100%;
        margin-left: 0px;
    }

    footer{
        text-align: center;
    }
}

